@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: antiquewhite;
}

#header {
    height: 65vh;
    width: 100%;
    background-image: url('../img/morella.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    object-fit: cover;
}

#header h1 {
    color: white;
    margin: 2%;
    padding:20%;
    font-size: 37px;
}

/* Noticias */
.foto-not {
    margin-bottom: 0%;
    max-width: 100%;
    height: auto;
}

.fecha {
    font-size: 15px;
    font-style: oblique;
    margin-bottom: 0%;
}

.h3-not {
    font-size: 22px;
}

.encabezado-not {
    text-align: justify;
    margin-top: 0%;
}

/* Menú */
.menu p {
    border: solid rgb(0, 0, 0);
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 2%;
    border-bottom: 2%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

/* Columnas */
.row {
    display: flex;
}
.row:after {
    content: "";
    /* display: table; */
    clear: both;
}

.column-menu {
    width: 15%;
    float: left;
    background-color: rgb(244, 204, 138);
    padding-left: 2%;
    padding-bottom: 2%;
    text-align: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.column-central {
    width: 55%;
    float: left;
    padding-right: 2%;
}

.column-noticias {
    width: 30%;
    float: left;
    background-color: rgb(241, 203, 142);
    padding-right: 2%;
    padding-left: 2%;
    align-items: center;
}

.column-central p {
    padding-right: 2%;
    padding-left: 2%;
}

.column-central h2 {
    padding-left: 2%;
}

.column-central h3 {
    padding-left: 2%;
}

/* Galeria */
.cont-img {
    display: flex;
    width: 85%;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 2%;
}

.cont-imagenes .img {
    width: 32.5%;
    position: relative;
    height: 150px;
    margin-bottom: 2%;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 75);
}

.imagen {
    width: 100%;
    height: 400px;
    object-fit: cover;
    
}




@media only screen and (max-width: 600px) {
        .column-menu {
            width: 100%;
            position: relative;
        }
        .column-menu p {
            margin-right: 1%;
        }
        .column-noticias {
            width: 100%;
        }
        .column-central {
            width: 100%;
            margin-left: 0%;
        }
        iframe {
            width: 100%;
            height: 250px;
        }
        .header {
            width: 100%;
        }
    }